body {
    background-color: #FFFCD9;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.plushie-exhibit {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFCD9;
    height: 400px;
    width: 400px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.machine-front, .machine-back {
    position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: auto;
    pointer-events: none;
}

.machine-front {
    z-index: 3;
}

.machine-inside {
    position: absolute;
    display: flex;
    top: 350px;
    height: 500px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    width: 400px;
    z-index: 2;
    pointer-events: none;
}

/* claw arm*/

.claw {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#claw-arm {
    transition: all 0.1s ease-out;
    position: relative;
    top: -280px;
    left: 10px;
    height: 400px;
    z-index: 2;
}

#shadow {
    transition: all 0.1s ease-out;
    transform: scale(0.3);
    position: relative;
    top: -200px;
    left: 20px;
    width: 100px;
    z-index: 5;
}

/* plushie-area*/
.plushies {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    padding-top: 150px;
    pointer-events: auto;
}

.plushie {
    position: absolute;
    width: 80px;
    height: 80px;
    object-fit: contain;
    z-index: 1;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}

.plushie.grabbed {
    pointer-events: none;
    z-index: 1000;
    animation: grabbed-rotation 0.5s ease-out;
}

.plushie.dropped {
    pointer-events: auto !important;
    z-index: 1000;
    cursor: pointer !important;
    animation: drop-rotation 0.5s ease-out;
}

.plushie.collected {
    z-index: 99999 !important;
    pointer-events: auto !important;
    transition: all 0.5s ease-out !important;
    animation: glow 0.5s infinite;
}

@keyframes glow {
    0% {
        filter: none;
    }
    50% {
        filter: drop-shadow(
            0 0 40px rgba(255, 255, 0, 0.8));
    }
}

@keyframes grabbed-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-145deg);
    }
}

@keyframes drop-rotation {
    0% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes blink {
    0% { opacity: 0.54; }
    50% { opacity: 1; }
    100% { opacity: 0.54; }
}

#prize-sign.blink {
    animation: blink 0.5s infinite;
}

/* buttons */

#button-top-group, #button-right-group {
    transition: all 0.3s ease;
}

#button-top:disabled, #button-right:disabled, .s7:disabled, .s8:disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
}

#button-right:hover {
    cursor: pointer;
}

.s7:hover, .s8:hover {
    cursor: pointer;
}

.plushie-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-out;
    position: absolute;
    z-index: 1000;
}

.plushie-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(0deg) !important;
    transition: transform 0.3s ease-out;
}

.plushie-wrapper.squeeze-in {
    transform: scale(0.8);
}
